body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", "Arial", "serif";
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a21;
    color: white;
}

/* MAIN */

.main-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #2a475e;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    border: 5px ridge white;
    border-radius: 12px;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    font-size: 24px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    padding: 18px 0px;
}

.logo-container div {
    font-size: 100px;
}

.btn-container {
    display: flex;
    gap: 32px;
    margin: 50px 18px 18px 18px;
}

.btn-container button p:first-child {
    margin: 12px;
    font-size: 100px;
}

button {
    cursor: pointer;
    font-size: medium;
    border: 2px solid black;
    border-radius: 10px;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a21;
    color: white;
    padding: 18px;
}

.footer-container h3 {
    margin: 0;
    padding: 0;
}